Repository BulbProject/bulb-project-frontend, pull requests merged in 2020-07, with the labels that each got.

#86 feat: Add types for calculation-response
  src/modules/calculation-result/calculation-result.component.tsx
  src/shared/context/calculation/calculation.context.tsx
  src/shared/context/calculation/entity/calculation-response.d.ts
  src/shared/context/calculation/entity/calculation-state.d.ts
  src/shared/context/calculation/entity/calculation.actions.ts
Labels: feature, page:calculation-result, scope:pages, scope:types

#89 fix: Fix criterion type
  src/shared/entity/data/criterion.d.ts
Labels: bugfix

#90 fix: Fix category feature
  src/modules/calculation-result/category-feature/category-feature.component.tsx
Labels: page:category

#92 fix: Add new styled component for images
  src/modules/calculation-result/item/item.styles.ts
  src/modules/calculation-result/items-layout/items-layout.component.tsx
  src/modules/calculation-result/items-layout/items-layout.styles.ts
Labels: bugfix

#95 Fix error message on lamp type select
  src/modules/calculation-result/filter/filter.component.tsx
  src/modules/category/form/criteria/criterion/criterion.component.tsx
  src/modules/category/form/form.component.tsx
  src/shared/utils/index.ts
  src/shared/utils/is-form-filled-in.ts
Labels: bugfix, page:category, scope:components

#94 fix: fixed carousel overflow on firefox
  src/modules/category/form/form.styles.ts
Labels: bugfix, page:categories-list, scope:styles

#97 fix: fixed check formData for isNaN
  src/shared/utils/is-form-filled-in.ts
Labels: bugfix, page:category, scope:utils

#99 Fix items layout
  src/modules/calculation-result/items-layout/items-layout.component.tsx
  src/modules/calculation-result/items-layout/items-layout.styles.ts
Labels: bugfix, page:calculation-result, scope:components, scope:styles
