Repository BulbProject/bulb-project-frontend, pull requests merged in 2020-12, with the labels that each got.

#131 Fix carousel-list position
  src/shared/components/requirement/input/option-groups/carousel/carousel.component.tsx
Labels: bugfix, page:category, scope:components

#133 Light methods
  src/shared/components/requirement/input/option-group/option-group.component.tsx
Labels: feature, page:category, scope:components, scope:pages

#134 fix(calculation-result): Correctly bind steps
  src/modules/calculation-result/filter/criterion/criterion.component.tsx
  src/modules/calculation-result/filter/filter.component.tsx
  src/modules/category/form/criteria/criterion/criterion.component.tsx
  src/modules/category/form/hooks/index.ts
  src/modules/category/form/hooks/use-requirement-groups.ts
  src/modules/category/form/requirement-group/requirement-group.component.tsx
  src/shared/components/requirement/input/field/field.component.tsx
  src/shared/components/requirement/input/hooks/index.ts
  src/shared/components/requirement/input/hooks/use-related-requirement.ts
  src/shared/components/requirement/input/option-group/option-group.component.tsx
  src/shared/components/requirement/input/option-groups/option-groups.component.tsx
  src/shared/components/requirement/requirement.component.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/use-requirement-groups.ts
  src/shared/utils/index.ts
  src/shared/utils/is-not-related-requirement-group.ts
  src/shared/utils/is-related-option-group.ts
  src/shared/utils/is-related-requirement-group.ts
Labels: bugfix, page:calculation-result, scope:components, scope:hooks, scope:pages
