Repository BulbProject/bulb-project-frontend, pull requests merged in 2020-05, with the labels that each got.

#33 Boolean rg
  .eslintrc.json
  package.json
  src/pages/category/Category.component.tsx
  src/pages/category/modules/Form/components/Criteria/Criteria.component.tsx
  src/pages/category/modules/Form/components/Criteria/Criteria.module.ts
  src/pages/category/modules/Form/components/Requirement/Requirement.component.tsx
  src/pages/category/modules/Form/components/Requirement/Requirement.module.tsx
  src/pages/category/modules/Form/components/Requirement/Requirement.styles.ts
  src/pages/category/modules/Form/components/RequirementGroup/RequirementGroup.component.tsx
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/category/modules/Stepper/Stepper.module.ts
  src/routes.ts
  src/types/data/index.d.ts
  yarn.lock
Labels: feature, page:category, scope:pages

#35 Fix safari and input metadata formatting
  src/pages/category/modules/Form/components/Requirement/Requirement.module.tsx
  src/pages/category/modules/Stepper/Stepper.component.tsx
Labels: bugfix, page:category, scope:pages

#34 feat: Change API service for get Markdown files
  src/components/Aside/Aside.component.tsx
  src/config.ts
  src/pages/info/Info.component.tsx
  src/utils/index.ts
  src/utils/kebab-case-to-sentence-case.ts
  src/utils/string-to-kebab-case.ts
Labels: feature, page:info, scope:pages, scope:utils

#36 Fix(Header): make header fixed
  src/components/Layout/Layout.styles.ts
Labels: feature, scope:styles

#37 fix(Form): fix form ui
  src/pages/category/modules/Form/components/Criteria/Criteria.component.tsx
  src/pages/category/modules/Form/components/Requirement/Requirement.component.tsx
  src/pages/category/modules/Form/components/Requirement/Requirement.module.tsx
  src/pages/category/modules/Form/components/RequirementGroup/RequirementGroup.component.tsx
  src/pages/category/modules/Form/components/RequirementGroup/RequirementGroup.styles.ts
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/category/modules/Stepper/Stepper.styles.ts
Labels: bugfix

#38 Save calculation
  src/components/CategoryHeader/CategoryHeader.component.tsx
  src/components/CategoryHeader/CategoryHeader.styles.ts
  src/components/CategoryHeader/index.ts
  src/components/index.ts
  src/config.ts
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/category/Category.component.tsx
  src/pages/category/Category.styles.ts
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/routes.ts
Labels: feature, page:calculation-result, page:category, scope:components, scope:pages

#39 Form
  package.json
  src/pages/category/Category.component.tsx
  src/pages/category/modules/Form/components/Criteria/Criteria.component.tsx
  src/pages/category/modules/Form/components/Criteria/Criteria.module.ts
  src/pages/category/modules/Form/components/Requirement/Requirement.component.tsx
  src/pages/category/modules/Form/components/Requirement/Requirement.module.tsx
  src/pages/category/modules/Form/components/Requirement/Requirement.styles.ts
  src/pages/category/modules/Form/components/RequirementGroup/RequirementGroup.component.tsx
  src/pages/category/modules/Form/components/RequirementGroup/RequirementGroup.styles.ts
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/category/modules/Stepper/Stepper.module.ts
  src/pages/category/modules/Stepper/Stepper.styles.ts
  src/pages/category/store/actions.d.ts
  src/pages/category/store/reducer.ts
  src/pages/category/store/store.context.tsx
  src/pages/category/store/store.types.d.ts
  yarn.lock
Labels: feature, page:category, refactor, scope:components, scope:pages, scope:styles

#40 feat(CalculationResults): add markup for Calculation Results
  src/pages/calculation-result/CalculationResult.component.tsx
Labels: feature, page:calculation-result, scope:pages, scope:styles

#41 Calculation aside
  src/components/Requirement/Requirement.component.tsx
  src/components/Requirement/Requirement.module.tsx
  src/components/Requirement/Requirement.styles.ts
  src/components/Requirement/Requirement.types.d.ts
  src/components/Requirement/index.ts
  src/components/index.ts
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/components/Criterion/Criterion.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/components/Criterion/Criterion.module.ts
  src/pages/calculation-result/modules/RequestedNeed/components/Criterion/Criterion.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/components/Criterion/index.ts
  src/pages/calculation-result/modules/RequestedNeed/components/RequirementGroup/RequirementGroup.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/components/RequirementGroup/RequirementGroup.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/components/RequirementGroup/index.ts
  src/pages/calculation-result/modules/RequestedNeed/components/index.ts
  src/pages/calculation-result/modules/RequestedNeed/index.ts
  src/pages/calculation-result/store/actions.d.ts
  src/pages/calculation-result/store/index.ts
  src/pages/calculation-result/store/reducer.ts
  src/pages/calculation-result/store/store.context.tsx
  src/pages/calculation-result/store/store.types.d.ts
  src/pages/category/modules/Form/components/RequirementGroup/RequirementGroup.component.tsx
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/category/store/index.ts
  src/pages/category/store/store.context.tsx
  src/pages/category/store/store.types.d.ts
  src/types/globals.d.ts
Labels: feature, page:calculation-result, refactor, scope:components, scope:pages, scope:types

#43 Calculation items
  package.json
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/modules/Items/Items.component.tsx
  src/pages/calculation-result/modules/Items/Items.styles.ts
  src/pages/calculation-result/modules/Items/components/Forecasts/Forecasts.component.tsx
  src/pages/calculation-result/modules/Items/components/Forecasts/Forecasts.styles.ts
  src/pages/calculation-result/modules/Items/components/Forecasts/index.ts
  src/pages/calculation-result/modules/Items/components/Item/Item.component.tsx
  src/pages/calculation-result/modules/Items/components/Item/Item.styles.ts
  src/pages/calculation-result/modules/Items/components/Item/index.ts
  src/pages/calculation-result/modules/Items/components/index.ts
  src/pages/calculation-result/modules/Items/index.ts
  src/pages/calculation-result/store/store.context.tsx
  src/pages/calculation-result/store/store.types.d.ts
  src/types/data/available-variant.d.ts
  src/types/data/category.d.ts
  src/types/data/document.d.ts
  src/types/data/index.d.ts
  yarn.lock
Labels: feature, page:calculation-result, scope:pages, scope:styles, scope:types

#42 feat: setup recalculation logic
  src/hooks/use-request.ts
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.types.d.ts
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/category/modules/Stepper/Stepper.module.ts
  src/pages/info/Info.component.tsx
  src/utils/index.ts
  src/utils/prepare-requested-need.ts
Labels: feature, page:calculation-result, scope:components, scope:pages, scope:utils

#44 feat: Update Select Requirement for optionGroups
  package.json
  src/components/Requirement/Requirement.component.tsx
  src/components/Requirement/Requirement.module.tsx
  yarn.lock
Labels: feature, page:category, scope:components, scope:pages

#46 fix(calculationResult): fix calculation page
  src/pages/calculation-result/modules/Items/components/Forecasts/index.ts
  src/pages/calculation-result/modules/Items/components/Item/Item.component.tsx
  src/pages/calculation-result/modules/Items/components/Metrics/Metrics.component.tsx
  src/pages/calculation-result/modules/Items/components/Metrics/Metrics.styles.ts
  src/pages/calculation-result/modules/Items/components/Metrics/index.ts
  src/types/data/available-variant.d.ts
Labels: bugfix, page:calculation-result, scope:components, scope:pages, scope:types

#45 feat: Improve layout of CalculationResult page
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/CalculationResult.styles.ts
  src/pages/calculation-result/modules/Items/Items.styles.ts
  src/pages/calculation-result/modules/Items/components/Item/Item.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.styles.ts
  src/pages/category/modules/Stepper/Stepper.component.tsx
Labels: feature, page:calculation-result, scope:pages, scope:styles

#47 Form improvement
  src/components/Requirement/Requirement.component.tsx
  src/components/Requirement/Requirement.module.tsx
  src/pages/category/Category.component.tsx
  src/pages/category/modules/Form/components/BinaryGroup/BinaryGroup.component.tsx
  src/pages/category/modules/Form/components/BinaryGroup/BinaryGroup.styles.ts
  src/pages/category/modules/Form/components/BinaryGroup/BinaryGroup.types.d.ts
  src/pages/category/modules/Form/components/BinaryGroup/index.ts
  src/pages/category/modules/Form/components/Criteria/index.ts
  src/pages/category/modules/Form/components/Criterion/Criterion.component.tsx
  src/pages/category/modules/Form/components/Criterion/Criterion.module.ts
  src/pages/category/modules/Form/components/Criterion/index.ts
  src/pages/category/modules/Form/components/HiddenRequirement/HiddenRequirement.component.tsx
  src/pages/category/modules/Form/components/HiddenRequirement/HiddenRequirement.styles.ts
  src/pages/category/modules/Form/components/HiddenRequirement/index.ts
  src/pages/category/modules/Form/components/RequirementGroup/RequirementGroup.component.tsx
  src/pages/category/modules/Form/components/index.ts
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/types/data/category.d.ts
  src/utils/index.ts
  src/utils/sort-by-id.ts
  src/utils/sort-by-value.ts
Labels: feature, page:category, refactor, scope:components, scope:pages, scope:styles

#48 Fix updating on calculation
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/modules/Items/Items.component.tsx
  src/pages/calculation-result/modules/Items/components/Metrics/Metrics.component.tsx
  src/pages/calculation-result/store/store.context.tsx
  src/pages/calculation-result/store/store.types.d.ts
Labels: bugfix

#49 Fixes
  public/index.html
  src/components/Requirement/Requirement.component.tsx
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/CalculationResult.styles.ts
  src/pages/calculation-result/modules/Items/Items.component.tsx
  src/pages/calculation-result/modules/Items/Items.styles.ts
  src/pages/calculation-result/modules/Items/components/Item/Item.component.tsx
  src/pages/calculation-result/modules/Items/components/Item/Item.styles.ts
  src/pages/calculation-result/modules/Items/components/Metrics/Metrics.component.tsx
  src/pages/calculation-result/modules/Items/components/Metrics/Metrics.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/components/RequirementGroup/RequirementGroup.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/components/RequirementGroup/RequirementGroup.styles.ts
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/notFound/NotFound.styles.ts
  src/utils/format-number.ts
  src/utils/get-locale-data-type.ts
  src/utils/index.ts
Labels: page:calculation-result, scope:pages, scope:styles, scope:utils

#50 Add responsive UI
  src/assets/icons/filter.inline.svg
  src/components/CategoryHeader/CategoryHeader.styles.ts
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/CalculationResult.styles.ts
  src/pages/calculation-result/modules/Items/Items.component.tsx
  src/pages/calculation-result/modules/Items/Items.styles.ts
  src/pages/calculation-result/modules/Items/components/Item/Item.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.types.d.ts
  src/pages/category/modules/Form/components/BinaryGroup/BinaryGroup.component.tsx
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/category/modules/Stepper/Stepper.module.ts
  src/pages/category/modules/Stepper/Stepper.styles.ts
  src/pages/category/modules/Stepper/components/Step/Step.styles.ts
  src/pages/category/modules/Stepper/components/StepperButton/StepperButton.component.tsx
  src/pages/category/modules/Stepper/components/StepperButton/StepperButton.styles.ts
  src/pages/main/modules/Card/components/BaseCard/BaseCard.component.tsx
  src/pages/main/modules/Card/components/StubCard/StubCard.component.tsx
  src/shared/Container/Container.component.tsx
  src/shared/Container/Container.module.ts
  src/shared/Container/Container.styles.ts
Labels: bugfix, page:calculation-result, page:category, page:main, refactor, scope:assets, scope:components, scope:pages, scope:styles

#51 feat: add efficiency labels
  src/pages/calculation-result/modules/Items/components/Item/Item.component.tsx
  src/pages/calculation-result/modules/Items/components/Item/Item.styles.ts
Labels: feature, page:calculation-result, scope:components, scope:styles

#52 Add new Main page placeholder
  src/index.tsx
  src/pages/calculation-result/CalculationResult.styles.ts
  src/pages/categories-list/CategoriesList.component.tsx
  src/pages/categories-list/CategoriesList.styles.ts
  src/pages/categories-list/modules/Card/Card.component.tsx
  src/pages/categories-list/modules/Card/Card.styles.ts
  src/pages/categories-list/modules/Card/Card.types.d.ts
  src/pages/categories-list/modules/Card/components/BaseCard/BaseCard.component.tsx
  src/pages/categories-list/modules/Card/components/BaseCard/index.ts
  src/pages/categories-list/modules/Card/components/ErrorCard/ErrorCard.component.tsx
  src/pages/categories-list/modules/Card/components/ErrorCard/index.ts
  src/pages/categories-list/modules/Card/components/StubCard/StubCard.component.tsx
  src/pages/categories-list/modules/Card/components/StubCard/index.ts
  src/pages/categories-list/modules/Card/components/index.ts
  src/pages/categories-list/modules/Card/index.ts
  src/pages/categories-list/modules/Error/Error.component.tsx
  src/pages/categories-list/modules/Error/Error.styles.ts
  src/pages/categories-list/modules/Error/index.ts
  src/pages/categories-list/modules/index.ts
  src/pages/main/Main.component.tsx
  src/routes.ts
Labels: feature, page:categories-list, page:main, refactor, scope:pages

#53 Main landing
  main-content/Some test Markdown document.md
  main-content/demo-markdown.md
  src/assets/icons/arrow.inline.svg
  src/assets/images/bulb.svg
  src/components/Footer/Footer.component.tsx
  src/components/Footer/Footer.styles.ts
  src/components/Footer/index.ts
  src/components/Layout/Layout.component.tsx
  src/components/Layout/Layout.styles.ts
  src/components/Markdown/Markdown.component.tsx
  src/components/Markdown/Markdown.styles.ts
  src/components/Markdown/index.ts
  src/components/index.ts
  src/config.ts
  src/index.tsx
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/categories-list/CategoriesList.component.tsx
  src/pages/category/Category.component.tsx
  src/pages/info/Info.component.tsx
  src/pages/info/modules/index.ts
  src/pages/main/Main.component.tsx
  src/pages/main/modules/Content/Content.component.tsx
  src/pages/main/modules/Content/Content.styles.ts
  src/pages/main/modules/Content/components/Document/Document.component.tsx
  src/pages/main/modules/Content/components/Document/index.ts
  src/pages/main/modules/Content/components/index.ts
  src/pages/main/modules/Content/index.ts
  src/pages/main/modules/Hero/Hero.component.tsx
  src/pages/main/modules/Hero/Hero.styles.ts
  src/pages/main/modules/Hero/index.ts
  src/pages/main/modules/index.ts
  src/pages/notFound/NotFount.component.tsx
Labels: feature, page:main, refactor, scope:assets, scope:components, scope:pages, scope:styles

#54 feat: change card fetching algorithm
  src/pages/categories-list/CategoriesList.component.tsx
  src/pages/categories-list/CategoriesList.module.ts
  src/pages/categories-list/CategoriesList.types.ts
  src/pages/categories-list/modules/Card/Card.component.tsx
  src/pages/categories-list/modules/Card/Card.styles.ts
  src/pages/categories-list/modules/Card/Card.types.d.ts
  src/pages/categories-list/modules/Card/components/BaseCard/BaseCard.component.tsx
  src/shared/Classification/Classification.component.tsx
  src/shared/Classification/Classification.styles.ts
  src/types/data/category-version.d.ts
Labels: feature, page:category, scope:pages, scope:styles, scope:types

#57 Alt results layout
  src/assets/icons/times.inline.svg
  src/components/Aside/Aside.component.tsx
  src/components/Layout/Layout.component.tsx
  src/components/Layout/Layout.styles.ts
  src/components/Requirement/Requirement.module.tsx
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/CalculationResult.module.ts
  src/pages/calculation-result/CalculationResult.styles.ts
  src/pages/calculation-result/modules/Filter/Filter.component.tsx
  src/pages/calculation-result/modules/Filter/Filter.styles.ts
  src/pages/calculation-result/modules/Filter/Filter.types.d.ts
  src/pages/calculation-result/modules/Filter/components/Criterion/Criterion.component.tsx
  src/pages/calculation-result/modules/Filter/components/Criterion/Criterion.module.ts
  src/pages/calculation-result/modules/Filter/components/Criterion/Criterion.styles.ts
  src/pages/calculation-result/modules/Filter/components/Criterion/index.ts
  src/pages/calculation-result/modules/Filter/components/RequirementGroup/RequirementGroup.component.tsx
  src/pages/calculation-result/modules/Filter/components/RequirementGroup/index.ts
  src/pages/calculation-result/modules/Filter/components/index.ts
  src/pages/calculation-result/modules/Filter/index.ts
  src/pages/calculation-result/modules/Item/Item.component.tsx
  src/pages/calculation-result/modules/Item/Item.module.ts
  src/pages/calculation-result/modules/Item/Item.styles.ts
  src/pages/calculation-result/modules/Item/Item.types.d.ts
  src/pages/calculation-result/modules/Item/components/Metrics/Metrics.component.tsx
  src/pages/calculation-result/modules/Item/components/Metrics/Metrics.styles.ts
  src/pages/calculation-result/modules/Item/components/Metrics/index.ts
  src/pages/calculation-result/modules/Item/components/index.ts
  src/pages/calculation-result/modules/Item/index.ts
  src/pages/calculation-result/modules/Items/Items.component.tsx
  src/pages/calculation-result/modules/Items/Items.styles.ts
  src/pages/calculation-result/modules/Items/components/Item/Item.component.tsx
  src/pages/calculation-result/modules/Items/components/Item/Item.styles.ts
  src/pages/calculation-result/modules/Items/components/Metrics/Metrics.component.tsx
  src/pages/calculation-result/modules/Items/components/Metrics/Metrics.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.types.d.ts
  src/pages/calculation-result/modules/index.ts
  src/pages/categories-list/modules/Card/Card.styles.ts
  src/pages/categories-list/modules/Card/components/BaseCard/BaseCard.component.tsx
  src/pages/main/modules/Content/components/Document/Document.component.tsx
  src/shared/Classification/Classification.component.tsx
  src/shared/CloseButton/CloseButton.component.tsx
  src/shared/CloseButton/CloseButton.styles.ts
  src/shared/CloseButton/index.ts
  src/shared/index.ts
Labels: bugfix, feature, page:calculation-result, refactor, scope:assets, scope:components, scope:pages, scope:styles

#59 feat(LandingPage): add new variant of landing page
  src/components/FadeIn/FadeIn.component.tsx
  src/pages/main/Main.component.tsx
  src/pages/main/Main.styles.ts
  src/pages/main/modules/Content/Content.component.tsx
  src/pages/main/modules/Content/Content.styles.ts
  src/pages/main/modules/Hero/Hero.component.tsx
  src/pages/main/modules/Hero/Hero.styles.ts
Labels: feature, page:main, scope:components, scope:pages, scope:styles

#60 feat: Add auto-redirect to calculation result
  package.json
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/category/modules/Stepper/Stepper.styles.ts
  yarn.lock
Labels: bugfix, page:category, scope:pages

#61 Drawer consistency
  src/components/Layout/Layout.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.styles.ts
  src/shared/CloseButton/CloseButton.component.tsx
  src/shared/CloseButton/CloseButton.styles.ts
  src/shared/CloseButton/index.ts
  src/shared/index.ts
Labels: feature, page:calculation-result, scope:components, scope:pages, scope:styles

#62 Refactor CalculationResult page
  src/components/Layout/Layout.component.tsx
  src/components/Layout/Layout.styles.ts
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/CalculationResult.module.ts
  src/pages/calculation-result/CalculationResult.styles.ts
  src/pages/calculation-result/modules/Item/Item.component.tsx
  src/pages/calculation-result/modules/Item/Item.styles.ts
  src/pages/calculation-result/modules/Item/Item.types.d.ts
  src/pages/calculation-result/modules/Item/components/Metrics/Metrics.component.tsx
  src/pages/calculation-result/modules/Items/Items.component.tsx
  src/pages/calculation-result/modules/Items/Items.styles.ts
  src/pages/calculation-result/modules/ItemsLayout/ItemsLayout.component.tsx
  src/pages/calculation-result/modules/ItemsLayout/ItemsLayout.styles.ts
  src/pages/calculation-result/modules/ItemsLayout/index.ts
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.styles.ts
  src/pages/calculation-result/modules/index.ts
Labels: feature, page:calculation-result, refactor, scope:components, scope:pages

#63 Form refactor
  package.json
  src/components/Requirement/Requirement.component.tsx
  src/components/Requirement/Requirement.module.tsx
  src/pages/category/modules/Form/components/Criterion/Criterion.component.tsx
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/category/modules/Stepper/Stepper.module.ts
  yarn.lock
Labels: page:category, refactor, scope:components, scope:pages

#65 Specification
  package.json
  src/config.ts
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/modules/Item/Item.component.tsx
  src/pages/calculation-result/modules/Specification/Specification.component.tsx
  src/pages/calculation-result/modules/Specification/Specification.module.ts
  src/pages/calculation-result/modules/Specification/Specification.styles.ts
  src/pages/calculation-result/modules/Specification/Specification.types.d.ts
  src/pages/calculation-result/modules/Specification/index.ts
  src/pages/calculation-result/modules/index.ts
  src/types/data/available-variant.d.ts
  src/types/data/index.d.ts
  src/types/data/selected-variant.d.ts
  yarn.lock
Labels: feature, page:calculation-result, scope:pages, scope:types

#67 Fix specification json
  package.json
  src/assets/images/partners/cpb.png
  src/assets/images/partners/ebrd.png
  src/assets/images/partners/icf.png
  src/assets/images/partners/me-gov.png
  src/assets/images/partners/open-contracting.png
  src/assets/images/partners/prozorro.png
  src/assets/images/partners/transparency-ua.png
  src/assets/images/partners/ustudio.svg
  src/components/Footer/Footer.component.tsx
  src/components/Footer/Footer.styles.ts
  src/components/GlobalStyles/GlobalStyles.component.ts
  src/components/Layout/Layout.styles.ts
  src/components/Markdown/Markdown.styles.ts
  src/config.ts
  src/pages/calculation-result/CalculationResult.styles.ts
  src/pages/calculation-result/modules/ItemsLayout/ItemsLayout.styles.ts
  src/pages/calculation-result/modules/Specification/Specification.component.tsx
  src/pages/calculation-result/modules/Specification/Specification.module.ts
  src/pages/calculation-result/modules/Specification/Specification.types.d.ts
  src/pages/categories-list/CategoriesList.component.tsx
  src/pages/categories-list/CategoriesList.module.ts
  src/pages/categories-list/CategoriesList.styles.ts
  src/pages/categories-list/modules/Card/Card.component.tsx
  src/pages/categories-list/modules/Card/Card.styles.ts
  src/pages/categories-list/modules/CardLayout/CardLayout.styles.ts
  src/pages/main/Main.component.tsx
  src/pages/main/Main.module.ts
  src/pages/main/Main.styles.ts
  src/pages/main/modules/Content/Content.component.tsx
  src/pages/main/modules/Content/Content.styles.ts
  src/pages/main/modules/Hero/Hero.component.tsx
  src/pages/main/modules/Hero/Hero.styles.ts
  src/typings.d.ts
  yarn.lock
Labels: bugfix, page:calculation-result, scope:pages

#68 refactor: refactor main page indicators and calculation results
  src/pages/calculation-result/modules/Specification/Specification.component.tsx
  src/pages/calculation-result/modules/Specification/Specification.styles.ts
  src/pages/main/Main.styles.ts
Labels: page:calculation-result, page:main, refactor, scope:components, scope:styles

#69 fix: Fix loading
  src/pages/categories-list/CategoriesList.component.tsx
  src/pages/categories-list/CategoriesList.module.ts
  src/pages/categories-list/modules/Error/Error.component.tsx
  src/pages/categories-list/modules/Error/Error.styles.ts
  src/pages/main/modules/Content/Content.component.tsx
  src/pages/main/modules/Content/Content.styles.ts
Labels: bugfix, page:categories-list, page:main, scope:components, scope:pages, scope:styles

#70 fix: Fix cross browsing
  package.json
  public/index.html
  src/assets/fonts/Lora/Lora-Italic.ttf
  src/assets/fonts/Roboto/Roboto-Black.ttf
  src/assets/fonts/Roboto/Roboto-Bold.ttf
  src/assets/fonts/Roboto/Roboto-Italic.ttf
  src/assets/fonts/Roboto/Roboto-Light.ttf
  src/assets/fonts/Roboto/Roboto-Medium.ttf
  src/assets/fonts/Roboto/Roboto-Regular.ttf
  src/components/CategoryHeader/CategoryHeader.styles.ts
  src/components/GlobalStyles/GlobalStyles.component.ts
  src/index.tsx
  src/styles/fonts.css
  src/typings.d.ts
  webpack.common.js
  yarn.lock
Labels: bugfix, scope:assets, scope:styles

#71 fix: Fix categories list styles
  src/pages/categories-list/CategoriesList.component.tsx
  src/pages/categories-list/modules/Card/Card.styles.ts
  src/pages/categories-list/modules/Card/components/BaseCard/BaseCard.component.tsx
  src/pages/categories-list/modules/CardLayout/CardLayout.styles.ts
Labels: bugfix, page:categories-list, scope:components, scope:pages, scope:styles

#73 fix: Fix footer appearance
  src/assets/images/partners/cpb.png
  src/assets/images/partners/ebrd.png
  src/assets/images/partners/i-ebrd.png
  src/assets/images/partners/i-ifc.png
  src/assets/images/partners/i-me.png
  src/assets/images/partners/i-ocp.png
  src/assets/images/partners/i-prozorro.png
  src/assets/images/partners/i-ti.png
  src/assets/images/partners/i-us.png
  src/assets/images/partners/icf.png
  src/assets/images/partners/me-gov.png
  src/assets/images/partners/open-contracting.png
  src/assets/images/partners/prozorro.png
  src/assets/images/partners/transparency-ua.png
  src/assets/images/partners/ustudio.svg
  src/components/Footer/Footer.component.tsx
  src/components/Footer/Footer.styles.ts
Labels: bugfix, scope:assets, scope:components, scope:styles

#72 Finalize calculation result
  src/assets/icons/copy.inline.svg
  src/assets/images/market/dzo.png
  src/assets/images/market/etender.png
  src/assets/images/market/smarttender.png
  src/assets/images/market/tenderonline.png
  src/assets/images/market/tendersallbiz.png
  src/assets/images/market/zakupkipromua.png
  src/config.ts
  src/pages/calculation-result/modules/Item/Item.component.tsx
  src/pages/calculation-result/modules/Item/Item.styles.ts
  src/pages/calculation-result/modules/Item/components/MarketModal/MarketModal.component.tsx
  src/pages/calculation-result/modules/Item/components/MarketModal/MarketModal.styles.ts
  src/pages/calculation-result/modules/Item/components/MarketModal/index.ts
  src/pages/calculation-result/modules/Item/components/Metrics/Metrics.component.tsx
  src/pages/calculation-result/modules/Item/components/index.ts
  src/pages/calculation-result/modules/ItemsLayout/ItemsLayout.styles.ts
  src/pages/calculation-result/modules/Specification/Specification.component.tsx
  src/pages/calculation-result/modules/Specification/Specification.module.ts
  src/pages/calculation-result/modules/Specification/Specification.styles.ts
  src/pages/calculation-result/modules/Specification/Specification.types.d.ts
Labels: feature, page:calculation-result, refactor, scope:pages
