Repository BulbProject/bulb-project-frontend, pull requests merged in 2020-06, with the labels that each got.

#75 fix: Fix cards rows height and loading logic
  src/pages/categories-list/CategoriesList.component.tsx
  src/pages/categories-list/CategoriesList.styles.ts
  src/pages/main/Main.styles.ts
Labels: page:categories-list, page:main, scope:styles

#76 Calculation result optimization
  src/assets/images/bulb.svg
  src/assets/images/market/dzo.png
  src/assets/images/market/etender.png
  src/assets/images/market/smarttender.png
  src/assets/images/market/tenderonline.png
  src/assets/images/market/tendersallbiz.png
  src/assets/images/market/zakupkipromua.png
  src/assets/images/partners/i-ebrd.png
  src/assets/images/partners/i-ifc.png
  src/assets/images/partners/i-me.png
  src/assets/images/partners/i-ocp.png
  src/assets/images/partners/i-prozorro.png
  src/assets/images/partners/i-ti.png
  src/assets/images/partners/i-us.png
  src/components/Footer/Footer.component.tsx
  src/components/Header/Header.component.tsx
  src/components/Header/Header.styles.ts
  src/components/Header/index.ts
  src/components/Layout/Layout.component.tsx
  src/components/Layout/Layout.styles.ts
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/modules/CategoryFeature/CategoryFeature.component.tsx
  src/pages/calculation-result/modules/CategoryFeature/CategoryFeature.types.d.ts
  src/pages/calculation-result/modules/CategoryFeature/components/LampsFeature/LampsFeature.component.tsx
  src/pages/calculation-result/modules/CategoryFeature/components/LampsFeature/LampsFeature.module.ts
  src/pages/calculation-result/modules/CategoryFeature/components/LampsFeature/LampsFeature.styles.ts
  src/pages/calculation-result/modules/CategoryFeature/components/LampsFeature/index.ts
  src/pages/calculation-result/modules/CategoryFeature/components/index.ts
  src/pages/calculation-result/modules/CategoryFeature/index.ts
  src/pages/calculation-result/modules/Item/Item.component.tsx
  src/pages/calculation-result/modules/Item/Item.styles.ts
  src/pages/calculation-result/modules/Item/Item.types.d.ts
  src/pages/calculation-result/modules/Item/components/Metrics/Metrics.component.tsx
  src/pages/calculation-result/modules/Item/components/Metrics/Metrics.styles.ts
  src/pages/calculation-result/modules/Items/Items.component.tsx
  src/pages/calculation-result/modules/ItemsLayout/ItemsLayout.styles.ts
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.types.d.ts
  src/pages/calculation-result/modules/Specification/Specification.component.tsx
Labels: feature, page:calculation-result, refactor, scope:assets, scope:pages, scope:styles

#79 tests(utils): add unit tests
  .eslintrc.json
  jest.config.js
  package.json
  src/utils/format-numbers.spec.ts
  src/utils/get-locale-data-type.spec.ts
  src/utils/get-random-width.spec.ts
  src/utils/get-random-width.ts
  src/utils/modify-id.spec.ts
  src/utils/modify-id.ts
  src/utils/sort-by-values.spec.ts
  tsconfig.json
  yarn.lock
Labels: scope:utils

#80 Add `honks`' `useRequest`
  package.json
  src/components/Aside/Aside.component.tsx
  src/components/ErrorBoundary/ErrorBoundary.types.d.ts
  src/hooks/index.ts
  src/hooks/use-request.ts
  src/pages/calculation-result/CalculationResult.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.component.tsx
  src/pages/calculation-result/modules/RequestedNeed/RequestedNeed.types.d.ts
  src/pages/categories-list/CategoriesList.component.tsx
  src/pages/category/Category.component.tsx
  src/pages/category/modules/Stepper/Stepper.component.tsx
  src/pages/info/Info.component.tsx
  src/pages/main/Main.component.tsx
  src/pages/main/modules/Content/Content.component.tsx
  src/pages/main/modules/Content/components/Document/Document.component.tsx
  src/utils/get-random-width.ts
  src/utils/modify-id.spec.ts
  src/utils/modify-id.ts
  yarn.lock
Labels: dependencies, feature, page:calculation-result, page:categories-list, page:category, page:info, page:main, refactor, scope:hooks, scope:pages

#81 feat: Add integration with engine category
  src/components/Requirement/Requirement.component.tsx
  src/components/Requirement/Requirement.module.tsx
  src/pages/category/modules/Form/components/Criterion/Criterion.component.tsx
  src/pages/category/modules/Form/components/RequirementGroup/RequirementGroup.component.tsx
Labels: page:category, scope:components, scope:pages, scope:styles
